[submodule "deps/src/harvest"]
	path = deps/src/harvest
	url = https://github.com/gafusion/harvest_client.git
[submodule "deps/src/OpenBLAS"]
	path = deps/src/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
[submodule "deps/src/netcdf-c"]
	path = deps/src/netcdf-c
	url = https://github.com/Unidata/netcdf-c.git
[submodule "deps/src/netcdf-fortran"]
	path = deps/src/netcdf-fortran
	url = https://github.com/Unidata/netcdf-fortran.git
[submodule "deps/src/hdf5"]
	path = deps/src/hdf5
	url = https://github.com/HDFGroup/hdf5.git
