# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

*.[oa]
*.mod
*.pyc
*~
*.out
*.bin
*.nc
*sum1.dat
*vacin5
*/penmpi

.cproject
.idea/
.project
bin/
docs/_build/
docs/examples/*/gal_solution.dat
docs/examples/*/delta_gw.dat
docs/examples/*/gal_solution_cut.dat

*version.inc

dcon/dcon
rdcon/rdcon
gpec/gpec
match/match
rmatch/rmatch
multi/multi
orbit/orbit
pentrc/pentrc
sum/sum
xdraw/pspack
xdraw/xdraw
