# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

*.[oa]
*.mod
*.pyc
*~
*.i
*.out
*.bin
*.nc
*sum1.dat
*vacin5
*/penmpi
*/version.inc
*/*.original
*/make.log
modovmc

.cproject
.idea/
.vscode/
.project
.DS_Store
bin/
docs/_build/
docs/examples/*/gal_solution.dat
docs/examples/*/delta_gw.dat
docs/examples/*/gal_solution_cut.dat
docs/examples/DIIID_ideal_example/*.py

deps/bin/*
deps/hdf5
deps/include/*
deps/lib/*
deps/share/*

*version.inc

dcon/dcon
rdcon/rdcon
stride/stride
gpec/gpec
match/match
rmatch/rmatch
multi/multi
orbit/orbit
pentrc/pentrc
sum/sum
xdraw/pspack
xdraw/xdraw
slayer/slayer

*.aux
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf
*.png

# keep the figure included by docs/tex/recon/main.tex
!docs/tex/recon/QvsC_quant_n1.png
